/**
 * Application initial colors
 */

$black: #0d0d0d;
$white: #ffffff;
$curiousBlue: #278cd1;
$spindle: #bac1c9;
$dolphin: #6f6e72;
$paynesGrey: #414149;
$lavender: #eae9ee;
$pastelGreen: #74d474;
$tomato: #ff5959;

$linkHoverColor: $white;
$bodyColor: $black;
$linkColor: $black;
$bodyBg: $white;

$royalBlue: #5474fd;

$nobel: #999999;
